@include-when-export url(https://fonts.loli.net/css?family=Open+Sans:400italic,700italic,700,400&subset=latin,latin-ext);

/* open-sans-regular - latin-ext_latin */

@font-face {
    font-family: "NumberOnly"; /*选择字体*/
    font-style: normal; /*字体样式*/
    font-weight: normal; /*定义文字粗细*/
    src: local("NumberOnly Regular"), local("NumberOnly-Regular"), url("./github/open-sans-v17-latin-ext_latin-regular.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* open-sans-italic - latin-ext_latin */

@font-face {
    font-family: "NumberOnly"; /*选择字体*/
    font-style: italic; /*字体样式*/
    font-weight: normal; /*定义文字粗细*/
    src: local("NumberOnly Italic"), local("NumberOnly-Italic"), url("./github/open-sans-v17-latin-ext_latin-italic.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* open-sans-700 - latin-ext_latin */

@font-face {
    font-family: "NumberOnly"; /*选择字体*/
    font-style: normal; /*字体样式*/
    font-weight: bold; /*定义文字粗细*/
    src: local("NumberOnly Bold"), local("NumberOnly-Bold"), url("./github/open-sans-v17-latin-ext_latin-700.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* open-sans-700italic - latin-ext_latin */

@font-face {
    font-family: "NumberOnly"; /*选择字体*/
    font-style: italic; /*字体样式*/
    font-weight: bold; /*定义文字粗细*/
    src: local("NumberOnly Bold Italic"), local("NumberOnly-BoldItalic"), url("./github/open-sans-v17-latin-ext_latin-700italic.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

:root {
    --title-color: #8064a9; /*标题颜色*/
    --text-color: #444444; /*文本颜色*/
    --light-text-color: #666666;
    --lighter-text-color: #888888;
    --link-color: #2aa899;
    --code-color: #745fb5;
    --shadow-color: #eee;
    --border-quote: rgba(116, 95, 181, 0.2);
    --border-quote-grey: #c8c8c8;
    --border: #e7e7e7;
    --link-bottom: #bbb;
    --shadow: 3px 3px 10px var(--shadow-color);
    --inline-code-bg: #f4f2f9;
    --header-weight: normal;
    --side-bar-bg-color: #fafafa;
    --control-text-color: var(var(--light-text-color));
    --active-file-text-color: var(--title-color);
    --active-file-bg-color: var(--shadow-color);
    --item-hover-bg-color: var(--shadow-color);
    --active-file-border-color: var(var(--title-color));
    --base-font: "Open Sans", "Clear Sans", "Helvetica Neue", "NumberOnly",  Helvetica, Arial, sans-serif;
    --title-font: "EB Garamond", "Source Sans Pro", serif;
    --monospace: Courier, Monospace !important;
}


/* 打印 */

@media print {
    html {
        font-size: 0.9rem;
    }
    table,
    pre {
        page-break-inside: avoid;
    }
    pre {
        word-wrap: break-word;
    }
    #write {
        max-width: 100%;
    }
    @page {
        size: auto;
        /*PDF输出页面边距大小*/
        margin: 2.54cm 0; /*上下边距*/
        margin-left: 2.54cm; /*左边距*/
        margin-right: 2.54cm; /*右边距*/
    }
}

html {
    font-size: 16px; /*字体大小*/
    -webkit-text-size-adjust: 100%; /*webkit文本大小*/
    -ms-text-size-adjust: 100%; /*文本大小调整*/
    text-rendering: optimizelegibility; /*文本呈现*/
    -webkit-font-smoothing: antialiased; /*字体平滑*/
}


/*此代码中"#write {"可更改为"html"可以使页面背景图随页面滚动,但会导致文档无法导出为PDF*/
#write {
    /*使用本地url,在themes目录下新建一个image文件夹,将图片放到里面即可*/
    background: url("./image/AiMiLi.svg") no-repeat, /*人物头像*/
    url("./image/BaiZhi.svg") repeat; /*白纸*/
    /*位置可能不一样.建议根据自己屏幕大小修改位置*/
    background-position: 107% 100%, 50% 50%; /*背景位置*/
    background-size: 45%; /*背景大小*/
    background-attachment: scroll;
    background-attachment: fixed, scroll; /*背景附件*/
}


body {
    font-family: "NumberOnly","Open Sans","Clear Sans", "Helvetica Neue", Helvetica, Arial, 'Segoe UI Emoji', sans-serif;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    line-height: 1.6; /*线高*/
    letter-spacing: 0.1rem; /*字符间距*/
    overflow-x: hidden; /*溢出*/
}


/*页面边距和页面大小*/

#write {
    font-family: var(--base-font); /*正文字体*/
    max-width: 860px; /*最大宽度*/
    margin: 0 auto; /*边距：0自动*/
    /*padding: 30px; /*填充*/
    padding-top: 30px; /*顶部空白*/
    padding-bottom: 100px; /*填充底部*/
}

#write p {
    line-height: 1.6rem; /*线高8*/
    word-spacing: 0.05rem; /*字距*/
}

body>*:first-child {
    margin-top: 30px; /*0 !important; /*页边空白*/
}

body>*:last-child {
    margin-bottom: 30px; /*0 !important; /*页边距底部*/
}


/*文档链接颜色*/

a {
    color: var(--link-color);
    text-decoration: none;
}

/*#write a {
    border-bottom: 0px solid var(--link-bottom); /*文档链接下划线*/
/*}*/

.md-content {
    color: var(--light-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 2.2rem; /*标题距上部文本距离*/
    margin-bottom: 1rem; /*标题距底部文本距离*/
    font-weight: var(--header-weight); /*字体粗细*/
    line-height: 1.3; /*线条高度*/
    cursor: text;
    color: var(--title-color); /*颜色*/
    font-family: var(--title-font) ; /*h1~h6标题字体*/
}

/*正在编辑的h标签字体也居中*/
h1,[mdlike=h1]{
    text-align: center; /*文本对齐方式*/
    font-size: 2.4em; /*字体大小*/
    margin-bottom: 2rem; /*标题距底部文本距离*/
    line-height: 1.5; /*线高*/
}

h1:after {
    content: "";
    display: block;
    margin: 0.2rem auto 0;
    width: 0rem; /*h1标题下划线长度*/
    height: 2px;
    border-bottom: 2px solid var(--title-color);
}


/*"h2"标题下划线&颜色*/
/*h2 {
    padding-left: 0.4em;
    border-left: 0.4em solid var(--title-color);
    border-bottom: 1.5px solid var(--title-color);
}*/


p,
blockquote,
ul,
ol,
dl,
table {
    margin: 0.8em 0;
}


/*水平分隔线*/

hr {
    margin: 1.5em auto;
    border-top: 1px solid var(--border);
}


/*列表*/

li>ol,
li>ul {
    margin: 0 0; /*边距*/
}

li p.first {
    display: inline-block;
}

ul,
ol {
    padding-left: 2rem; /*左填充*/
}

ul:first-child,
ol:first-child {
    margin-top: 30xp; /*页边距顶部*/
}

ul:last-child,
ol:last-child {
    margin-bottom: 30xp; /*页边距底部*/
}

#write ol li,
ul li {
    padding-left: 0.1rem; /*左填充*/
}


/* 引用 */

blockquote {
    border-left: 0.3rem solid var(--border-quote);
    padding-left: 1em;
    font-family: var(--base-font);
}


/* 表格 */

table {
    margin-bottom: 1.25rem; /*边缘底部*/
}

table th,
table td {
    padding: 8px; /*填充*/
    line-height: 1.25rem; /*线路高*/
    vertical-align: middle; /*对齐方式*/
    border: 1px solid #ddd; /*边框*/
}

table th {
    font-weight: bold;
}

table thead th {
    vertical-align: middle; /*对齐方式*/
}

table tr:nth-child(2n),
thead {
    background-color: #fcfcfc; /*表头背景色*/
}


/* 粗体 */
#write strong {
    padding: 0 2px;
    font-weight: bold;
}


/*内联代码*/
#write code,
tt {
    padding: 2px 4px;
    border-radius: 0.3rem;
    font-family: var(--monospace);
    font-size: 0.9rem;
    color: var(--code-color);
    background-color: var(--inline-code-bg);
    margin: 0 2px;
}

#write .md-footnote {
    color: var(--code-color);
    background-color: var(--inline-code-bg);
}


/*标记*/
#write mark {
    background: rgb(255, 255, 196);
    color: var(--text-color);
}

#write del {
    padding: 1px 2px;
}

.md-task-list-item>input {
    margin-left: -1.3em;
}

#write pre.md-meta-block {
    padding: 1rem;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border: 0;
    border-radius: 3px;
    color: #777777;
    margin-top: 0 !important;
}

.mathjax-block>.code-tooltip {
    bottom: 0.375rem;
}


/* 图片 */
.md-image>.md-meta {
    border-radius: 3px;
    font-family: var(--monospace);
    padding: 2px 0 0 4px;
    font-size: 0.9em;
    color: inherit;
}


/* 图片靠左显示 */
/* p .md-image:only-child {
  width: auto;
  text-align: left;
  margin-left: 2rem;
} */


/* 写![shadow-...]() 显示图片阴影 */
img[alt|="shadow"] {
    box-shadow: var(--shadow);
}


/*目录列表*/
#write a.md-toc-inner {
    line-height: 1.6;
    white-space: pre-line;
    border-bottom: none;
    color: var(--light-text-color);
    font-size: 0.9rem;
}

.md-toc-h1 .md-toc-inner {
    margin-left: 0;
    font-weight: normal;
}

header,
.context-menu,
.megamenu-content,
footer {
    font-family: var(--base-font); /*标题,上下文菜单,页脚字体*/
}

.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state {
    visibility: visible;
}

.md-lang {
    color: #b4654d;
}

.html-for-mac .context-menu {
    --item-hover-bg-color: #e6f0fe; /*上下文菜单项目悬停背景颜色*/
}

.CodeMirror-lines {
    padding-left: 4px;
    /*使用本地url，我这里在themes目录下新建了一个image文件夹，将图片放到里面即可*/  
    background: url(./image/AiMiLi.svg) no-repeat;
    background-position: 107% 100%;
    background-size: 30%;
    background-attachment: scroll;
    /* max-width: 90%; */
}


/*代码围栏*/

/*边框，背景，字体,*/
.md-fences {
    border: 1px solid var(--border); /*代码块边框线大小*/
    border-radius: 5px; /*边界半径*/
    background: #F8F8F8 !important; /*代码块背景颜色*/
    font-size: 0.9rem;
}


/* 代码框阴影 */
/* #write pre.md-fences {
  display: block;
  -webkit-overflow-scrolling: touch;
  box-shadow: var(--shadow);
} */

.cm-s-inner .cm-variable {
    color: var(--text-color);
}

.cm-s-inner {
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.cm-s-inner.CodeMirror,
.cm-s-inner .CodeMirror-gutters {
    color: #1A1C22 !important;
    border: none;
}

.cm-s-inner .CodeMirror-gutters {
    color: #6d8a88;
}

.cm-s-inner .CodeMirror-linenumber {
    padding: 0 0.1rem 0 0.3rem;
    color: #b8b5b4;
}

.cm-s-inner .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: #a34e8f !important;
}

#fences-auto-suggest .active {
    background: #ddd;
}

.cm-s-inner span.cm-comment {
    color: #9daab6;
}

.cm-s-inner span.cm-builtin {
    color: #0451a5;
}


/*语言提示*/
#write .code-tooltip {
    border: 1px solid var(--border);
}

.auto-suggest-container {
    border-color: #b4b4b4;
}

.auto-suggest-container .autoComplt-hint.active {
    background: #b4b4b4;
    color: inherit;
}


/*任务列表*/
#write .md-task-list-item>input {
    -webkit-appearance: initial;
    display: block;
    position: absolute;
    border: 1px solid #b4b4b4;
    border-radius: 0.2rem;
    margin-top: 0.3rem;
    height: 1rem;
    width: 1rem;
    transition: background 0.3s;
}

#write .md-task-list-item>input:focus {
    outline: none;
    box-shadow: none;
}

/*任务列表项>输入：悬停背景*/
#write .md-task-list-item>input:hover {
    background: #ddd;
}

#write .md-task-list-item>input[checked]::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 60%;
    width: 2px;
    transform: rotate(40deg);
    background: #FFFFFF;
}

/*任务列表项>输入: 选中背景*/
#write .md-task-list-item>input[checked]::after {
    content: "";
    position: absolute;
    top: 46%;
    left: 25%;
    height: 30%; /*高度*/
    width: 2px; /*宽度*/
    transform: rotate(-40deg); /*变换*/
    background: #FFFFFF; /*任务列表项选中背景颜色*/
}

#write .md-task-list-item>p {
    transition: color 0.3s, opacity 0.3s;
}

#write .md-task-list-item.task-list-done>p {
    color: #b4b4b4;
    text-decoration: line-through;
}

#write .md-task-list-item.task-list-done>p>.md-emoji {
    opacity: 0.5;
}

#write .md-task-list-item.task-list-done>p>.md-link>a {
    opacity: 0.6;
}


/*侧边工具栏*/
#typora-sidebar,
.typora-node #typora-sidebar {
    box-shadow: 3px 0px 10px var(--shadow-color);
}

.sidebar-content-content {
    font-size: 0.9rem;
}
/*22Y09M23D08H31M-V1.0*/